automation/n8n/workflows/ai-secretariat-task-dispatch.json
{
  "id": "ai-secretariat-task-dispatch",
  "name": "AI秘书处 - 任务接收与分发",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-secretariat/task",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a01",
      "name": "Webhook - Receive Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-460, 0],
      "webhookId": "ai-secretariat-task-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const MAX_REQUEST_ID_LENGTH = 128;\nconst MAX_AGENT_LENGTH = 100;\nconst MAX_TASK_LENGTH = 64;\nconst MAX_SOURCE_LENGTH = 50;\nconst VALID_PRIORITIES = ['high', 'normal', 'low'];\n\nfunction isPlainObject(value) {\n  return typeof value === 'object' && value !== null && !Array.isArray(value);\n}\n\nfunction invalid(field) {\n  return {\n    json: {\n      valid: false,\n      invalid_field: field,\n      message: '请求内容不符合要求',\n    },\n  };\n}\n\nconst body = ($json && $json.body) || {};\n\n// request_id：调用方提供了就 trim 后直接复用，未提供则用\n// 同一次 n8n execution + 当前 item 下标拼出稳定值——\n// 同一次 execution 内的重试（HTTP Request 节点自身的\n// 重试、或 n8n 对整个 workflow 的重试）都会复用相同的\n// $execution.id，不会每次重新随机生成 UUID 或用当前毫秒\n// 时间戳作为唯一 request_id。\nlet requestId = typeof body.request_id === 'string' ? body.request_id.trim() : '';\nif (!requestId) {\n  requestId = `n8n-${$execution.id}-${$itemIndex}`;\n}\n\nif (!requestId || requestId.length > MAX_REQUEST_ID_LENGTH) {\n  return invalid('request_id');\n}\n\nconst assignedAgent = typeof body.assigned_agent === 'string' ? body.assigned_agent.trim() : '';\nif (!assignedAgent || assignedAgent.length > MAX_AGENT_LENGTH) {\n  return invalid('assigned_agent');\n}\n\nconst task = typeof body.task === 'string' ? body.task.trim() : '';\nif (!task || task.length > MAX_TASK_LENGTH) {\n  return invalid('task');\n}\n\nconst priority = (typeof body.priority === 'string' && body.priority.trim())\n  ? body.priority.trim()\n  : 'normal';\nif (!VALID_PRIORITIES.includes(priority)) {\n  return invalid('priority');\n}\n\nlet context = {};\nif (body.context !== undefined && body.context !== null) {\n  if (!isPlainObject(body.context)) {\n    return invalid('context');\n  }\n  context = body.context;\n}\n\nconst source = (typeof body.source === 'string' && body.source.trim())\n  ? body.source.trim()\n  : 'n8n';\nif (source.length === 0 || source.length > MAX_SOURCE_LENGTH) {\n  return invalid('source');\n}\n\nreturn {\n  json: {\n    valid: true,\n    normalized: {\n      request_id: requestId,\n      source,\n      assigned_agent: assignedAgent,\n      task,\n      context,\n      priority,\n    },\n  },\n};\n"
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a02",
      "name": "Code - Normalize and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a03",
      "name": "IF - Validation Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [20, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, code: \"INVALID_REQUEST\", message: \"请求内容不符合要求\", invalid_field: $json.invalid_field } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a04",
      "name": "Respond - Invalid Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [260, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_COMMERCE_API_BASE_URL }}/api/v1/integrations/tasks/submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Task-API-Key",
              "value": "={{ $env.AI_COMMERCE_TASK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.normalized }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a05",
      "name": "HTTP Request - Submit External Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -180],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// 成功路径：item 直接是后端 202/200 响应体（含\n// id/request_id/duplicate 等字段）。\nif (item && typeof item === 'object' && item.duplicate !== undefined && item.id) {\n  return [{\n    json: {\n      ok: true,\n      task_id: item.id,\n      request_id: item.request_id,\n      duplicate: item.duplicate,\n      status: item.status,\n      message: item.message,\n      httpStatus: item.duplicate ? 200 : 202,\n    },\n  }];\n}\n\n// 错误路径：HTTP Request 节点 onError=continueErrorOutput\n// 产生的 item，形如 { error: {...} }。不同版本/错误类型下\n// 具体字段名不完全一致，这里做多路径兵底探测 HTTP 状态\n// 码，探测不到时安全降级为 TEMPORARY_FAILURE（而不是猜测\n// 成某个更具体、但可能错误的分类）。\nconst error = (item && item.error) || {};\n\nfunction extractStatusCode() {\n  const candidates = [\n    error.httpCode,\n    error.statusCode,\n    error.status,\n    error.cause && error.cause.response && error.cause.response.status,\n    error.cause && error.cause.httpCode,\n  ];\n  for (const candidate of candidates) {\n    if (candidate === undefined || candidate === null) continue;\n    const parsed = parseInt(candidate, 10);\n    if (!Number.isNaN(parsed)) return parsed;\n  }\n  return null;\n}\n\nconst statusCode = extractStatusCode();\n\nconst STATUS_TO_CODE = {\n  401: ['AUTH_FAILED', '任务网关鉴权失败', 401],\n  404: ['AGENT_NOT_FOUND', '指定的 AI 员工不存在', 404],\n  422: ['INVALID_REQUEST', '任务内容不符合要求', 422],\n  503: ['GATEWAY_NOT_CONFIGURED', '任务网关暂未配置', 503],\n};\n\nlet code = 'TEMPORARY_FAILURE';\nlet message = '任务提交暂时失败，请稍后重试';\nlet httpStatus = 502;\n\nif (statusCode !== null && STATUS_TO_CODE[statusCode]) {\n  const mapped = STATUS_TO_CODE[statusCode];\n  code = mapped[0];\n  message = mapped[1];\n  httpStatus = mapped[2];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    code,\n    message,\n    httpStatus,\n  },\n}];\n"
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a06",
      "name": "Code - Normalize Gateway Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a07",
      "name": "IF - Gateway Call Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, -180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, task_id: $json.task_id, request_id: $json.request_id, duplicate: $json.duplicate, status: $json.status, message: $json.message } }}",
        "options": {
          "responseCode": "={{ $json.httpStatus }}"
        }
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a08",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, -280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, code: $json.code, message: $json.message } }}",
        "options": {
          "responseCode": "={{ $json.httpStatus }}"
        }
      },
      "id": "8f14e45f-ceea-4331-9463-96fa5a2c1a09",
      "name": "Respond - Gateway Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, -80]
    }
  ],
  "connections": {
    "Webhook - Receive Task": {
      "main": [
        [
          { "node": "Code - Normalize and Validate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code - Normalize and Validate": {
      "main": [
        [
          { "node": "IF - Validation Passed", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Validation Passed": {
      "main": [
        [
          { "node": "HTTP Request - Submit External Task", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond - Invalid Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request - Submit External Task": {
      "main": [
        [
          { "node": "Code - Normalize Gateway Response", "type": "main", "index": 0 }
        ],
        [
          { "node": "Code - Normalize Gateway Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code - Normalize Gateway Response": {
      "main": [
        [
          { "node": "IF - Gateway Call Succeeded", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Gateway Call Succeeded": {
      "main": [
        [
          { "node": "Respond - Success", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond - Gateway Error", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
